<section class="row">


  <form name="TACandidateForms[fakeData.indexOf(row)].formForm" class="form-horizontal"
        ng-submit="submitModifiedForm(TACandidateForms[fakeData.indexOf(row)],vm,fakeData.indexOf(row))" novalidate>
    <div class="col-md-12">

      <fieldset>


        <!--<div class="col-sm-3 col-sm-offset-3">-->
        <div class="floating-box">
          <div class="panel panel-default class">
            <div class="panel panel-heading customPanel"><font color="black">Application Status</font></div>
            <div class="panel-body">

              <select name="status" id="status"
                      class="form-control"
                      ng-model="TACandidateForms[fakeData.indexOf(row)].status">

                <option ng-repeat="status in vm.statusOptions"
                        ng-selected="status === TACandidateForms[fakeData.indexOf(row)].status"
                        value="{{status}}"> {{status}}
                </option>
              </select>
            </div>
          </div>
        </div>

        <!--<div class="col-sm-3 col-sm-offset-3" style="padding-top: 20px">-->
        <div class="floating-box">
          <div class="panel panel-default panel-success class">
            <div class="panel panel-heading customPanel"><font color="black">Category</font></div>
            <div class="panel-body">
              <select name="category" id="category1"
                      class="form-control"
                      ng-model="TACandidateForms[fakeData.indexOf(row)].category">

                <option ng-repeat="category in vm.categoryOptions"
                        ng-selected="category === TACandidateForms[fakeData.indexOf(row)].category"
                        value="{{category}}">{{category}}
                </option>
              </select>
            </div>

          </div>
        </div>

        <!--<div class="col-sm-3 col-sm-offset-3" style="padding-top: 20px">-->
        <div class="floating-box">

          <div class="panel panel-default panel-success class">
            <div class="panel panel-heading customPanel"><font color="black">TA Hours</font></div>
            <div class="panel-body">
              <!--<label class="control-label" for="hourTA">TA Hours</label>-->
              <input name="hourTA" type="text" ng-model="TACandidateForms[fakeData.indexOf(row)].hourTA" id="hourTA"
                     class="form-control"
                     required>
              <div ng-messages="vm.form.formForm.hourTA.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Hours are required</p>
              </div>

            </div>

          </div>
        </div>

        <div class="col-sm-12" ng-show="formBooleans[fakeData.indexOf(row)]">

          <!--<div class="form-group" show-errors>-->
            <!--<label class="control-label" for="hourTA">TA Hours</label>-->
            <!--<input name="hourTA" type="text" ng-model="TACandidateForms[fakeData.indexOf(row)].hourTA" id="hourTA"-->
                   <!--class="form-control"-->
                   <!--required>-->
            <!--<div ng-messages="vm.form.formForm.hourTA.$error" role="alert">-->
              <!--<p class="help-block error-text" ng-message="required">Hours are required</p>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-group" show-errors>-->
          <!--<label class="control-label" for="category">Category</label>-->
          <!--<select name="category" id="category"-->
          <!--class="form-control"-->
          <!--ng-model="TACandidateForms[fakeData.indexOf(row)].category"-->
          <!--requried>-->
          <!--<option ng-repeat="category in vm.categoryOptions"-->
          <!--ng-selected="category === TACandidateForms[fakeData.indexOf(row)].category"-->
          <!--value="{{category}}">{{category}}-->
          <!--</option>-->
          <!--</select>-->
          <!--<div ng-messages="vm.form.formForm.category.$error" role="alert">-->
          <!--<p class="help-block error-text" ng-message="required">Category needs to be picked.</p>-->
          <!--</div>-->
          <!--</div>-->
<!--
          <div class="form-group" show-errors>
            <label class="control-label" for="ufid">UFID# (no dashes)</label>
            <input name="ufid" type="text" ng-model="TACandidateForms[fakeData.indexOf(row)].ufid" id="ufid"
                   class="form-control"
                   required>
            <div ng-messages="vm.form.formForm.ufid.$error" role="alert">
              <p class="help-block error-text" ng-message="required">UFID is required.</p>
            </div>
          </div>


          <div class="form-group" show-errors>
            <label class="control-label" for="email">Email</label>
            <input name="email" type="email" ng-model="TACandidateForms[fakeData.indexOf(row)].email" id="email"
                   class="form-control" required>
            <div ng-messages="vm.form.formForm.email.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Email is required.</p>
            </div>
          </div> -->

<!--
          <div class="form-group" show-errors>
            <label class="control-label" for="firstName">First Name</label>
            <input name="firstName" type="text" ng-model="TACandidateForms[fakeData.indexOf(row)].firstName"
                   id="firstName" class="form-control"
                   required>
            <div ng-messages="vm.form.formForm.firstName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">First name is required.</p>
            </div>
          </div>


          <div class="form-group" show-errors>
            <label class="control-label" for="middleName">Middle Name</label>
            <input name="middleName" type="text" ng-model="TACandidateForms[fakeData.indexOf(row)].middleName"
                   id="middleName" class="form-control">
          </div>


          <div class="form-group" show-errors>
            <label class="control-label" for="lastName">Last Name</label>
            <input name="lastName" type="text" ng-model="TACandidateForms[fakeData.indexOf(row)].lastName" id="lastName"
                   class="form-control"
                   required>
            <div ng-messages="vm.form.formForm.lastName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Last name is required.</p>
            </div>
          </div> -->

<!--
          <div class="form-group" show-errors>
            <label class="control-label" for="street">Street</label>
            <input name="street" type="text" ng-model="TACandidateForms[fakeData.indexOf(row)].street" id="street"
                   class="form-control"
                   required>
            <div ng-messages="vm.form.formForm.street.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Street is required.</p>
            </div>
          </div>


          <div class="form-group" show-errors>
            <label class="control-label" for="city">City</label>
            <input name="city" type="text" ng-model="TACandidateForms[fakeData.indexOf(row)].city" id="city"
                   class="form-control"
                   required>
            <div ng-messages="vm.form.formForm.city.$error" role="alert">
              <p class="help-block error-text" ng-message="required">City is required.</p>
            </div>
          </div>


          <div class="form-group" show-errors>
            <label class="control-label" for="state">State or Province</label>
            <input name="state" type="text" ng-model="TACandidateForms[fakeData.indexOf(row)].state" id="state"
                   class="form-control"
                   required>
            <div ng-messages="vm.form.formForm.state.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Street or Province is required.</p>
            </div>
          </div>


          <div class="form-group" show-errors>
            <label class="control-label" for="zipcode">ZIP Code</label>
            <input name="zipcode" type="number" ng-model="TACandidateForms[fakeData.indexOf(row)].zipcode" id="zipcode"
                   class="form-control"
                   required>
            <div ng-messages="vm.form.formForm.zipcode.$error" role="alert">
              <p class="help-block error-text" ng-message="required">ZIP code is required.</p>
            </div>
          </div>


          <div class="form-group" show-errors>
            <label class="control-label" for="phone">Phone Number</label>
            <input name="phone" type="number" ng-model="TACandidateForms[fakeData.indexOf(row)].phone" id="phone"
                   class="form-control"
                   required>
            <div ng-messages="vm.form.formForm.phone.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Phone number is required.</p>
            </div>
          </div>

-->
          <!-- <div class="form-group" show-errors>
            <label class="control-label" for="semesterAdmitted">Semester Admitted</label>
            <select name="semesterAdmitted" id="semesterAdmitted"
                    class="form-control"
                    ng-model="TACandidateForms[fakeData.indexOf(row)].semesterAdmitted"
                    required>
              <option ng-repeat="semester in vm.semesterOptions"
                      ng-selected="semester === TACandidateForms[fakeData.indexOf(row)].semesterAdmitted"
                      value="{{semester}}"> {{semester}}
              </option>
            </select>
            <div ng-messages="vm.form.formForm.semesterAdmitted.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Admitted semester is required.</p>
            </div>
          </div> -->

<!--
          <div class="form-group" show-errors>
            <label class="control-label" for="originCountry">Country of Origin</label>
            <select name="originCountry" id="originCountry"
                    class="form-control"
                    ng-model="TACandidateForms[fakeData.indexOf(row)].originCountry"
                    required>
              <option ng-repeat="country in vm.countryOptions"
                      ng-selected="country === TACandidateForms[fakeData.indexOf(row)].originCountry"
                      value="{{country}}"> {{country}}
              </option>
            </select>
            <div ng-messages="vm.form.formForm.originCountry.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Country of origin is required.</p>
            </div>
          </div> -->


          <div class="form-group" show-errors>
            <label class="control-label" for="preferenceCourse1">Primary Course Preference</label>
            <select name="preferenceCourse1" id="preferenceCourse1"
                    class="form-control"
                    ng-model="TACandidateForms[fakeData.indexOf(row)].preferenceCourse1"
                    requried>
              <option ng-repeat="course in vm.courses"
                      ng-selected="course._id === TACandidateForms[fakeData.indexOf(row)].preferenceCourse1"
                      value="{{course._id}}">{{course.courseId+" - "+course.courseTitle}}
              </option>
            </select>
            <div ng-messages="vm.form.formForm.preferenceCourse1.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Primary Course Preference is required.</p>
            </div>
          </div>


          <div class="form-group" show-errors>
            <label class="control-label" for="preferenceCourse2">Secondary Course Preference</label>
            <select name="preferenceCourse2" id="preferenceCourse2"
                    class="form-control"
                    ng-model="TACandidateForms[fakeData.indexOf(row)].preferenceCourse2"
                    requried>
              <option ng-repeat="course in vm.courses"
                      ng-selected="course._id === TACandidateForms[fakeData.indexOf(row)].preferenceCourse2"
                      value="{{course._id}}">{{course.courseId+" - "+course.courseTitle}}
              </option>
            </select>
            <div ng-messages="vm.form.formForm.preferenceCourse2.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Secondary Course Preference is required.</p>
            </div>
          </div>


          <div class="form-group" show-errors>
            <label class="control-label" for="preferenceCourse3">Tertiary Course Preference</label>
            <select name="preferenceCourse3" id="preferenceCourse3"
                    class="form-control"
                    ng-model="TACandidateForms[fakeData.indexOf(row)].preferenceCourse3"
                    requried>
              <option ng-repeat="course in vm.courses"
                      ng-selected="course._id === TACandidateForms[fakeData.indexOf(row)].preferenceCourse3"
                      value="{{course._id}}">{{course.courseId+" - "+course.courseTitle}}
              </option>
            </select>
            <div ng-messages="vm.form.formForm.preferenceCourse3.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Tertiary Couse Preference is required.</p>
            </div>
          </div>


          <div class="form-group" show-errors>
            <label class="control-label" for="isTeachingTA">Would you like to be a teaching TA</label>
            <select name="isTeachingTA" id="isTeachingTA"
                    class="form-control"
                    ng-model="TACandidateForms[fakeData.indexOf(row)].isTeachingTA"
                    required>
              <option ng-repeat="option in vm.teachingTAOptions"
                      ng-selected="option === TACandidateForms[fakeData.indexOf(row)].isTeachingTA"
                      value="{{option}}"> {{option}}
              </option>
            </select>
          </div>


          <div class="form-group" show-errors>
            <label class="control-label" for="offerType">Offer Type</label>
            <select name="offerType" id="offerType"
                    class="form-control"
                    ng-model="TACandidateForms[fakeData.indexOf(row)].offerType"
                    required>
              <option ng-repeat="option in vm.offerTypeOptions"
                      ng-selected="option === TACandidateForms[fakeData.indexOf(row)].offerType"
                      value="{{option}}"> {{option}}
              </option>
            </select>
          </div>


          <div class="form-group" show-errors>
            <label class="control-label" for="phdExamDate">Date of Ph.D. Exam</label>
            <input name="phdExamDate" type="date" ng-model="TACandidateForms[fakeData.indexOf(row)].phdExamDate"
                   id="phdExamDate"
                   value="{{vm.phdExamDate}}" class="form-control">
          </div>


          <div class="form-group">
            <label class="control-label" for="phdExamGrade">Ph.D. Exam Grade</label>
            <input name="phdExamGrade" type="number" ng-model="TACandidateForms[fakeData.indexOf(row)].phdExamGrade"
                   id="phdExamGrade"
                   class="form-control">
          </div>


          <div class="form-group">
            <label class="control-label" for="speakScore">TSE/SPEAK Score</label>
            <input name="speakScore" type="number" ng-model="TACandidateForms[fakeData.indexOf(row)].speakScore"
                   id="speakScore" class="form-control">
          </div>


          <div class="form-group">
            <label class="control-label" for="EAP5836">EAP5836</label>
            <input name="EAP5836" type="number" ng-model="TACandidateForms[fakeData.indexOf(row)].EAP5836" id="EAP5836"
                   class="form-control">
          </div>


          <div class="form-group">
            <label class="control-label" for="EAP5837">EAP5837</label>
            <input name="EAP5837" type="number" ng-model="TACandidateForms[fakeData.indexOf(row)].EAP5837" id="EAP5837"
                   class="form-control">
          </div>


          <div class="form-group">
            <label class="control-label" for="gpa">GPA</label>
            <input name="gpa" type="number" ng-model="TACandidateForms[fakeData.indexOf(row)].gpa" id="gpa"
                   class="form-control">
          </div>


          <div class="form-group" show-errors>
            <label class="control-label" for="adviser">Name of Advisor</label>
            <input name="adviser" type="text" ng-model="TACandidateForms[fakeData.indexOf(row)].adviser" id="adviser"
                   class="form-control">
          </div>


          <div class="form-group" show-errors>
            <label class="control-label" for="researchArea">Area of Research</label>
            <input name="researchArea" type="text" ng-model="TACandidateForms[fakeData.indexOf(row)].researchArea"
                   id="researchArea"
                   class="form-control">
          </div>


          <!-- <div class="form-group">
            <label class="control-label" for="interestExperience">Interests and experience</label>
            <textarea name="interestExperience" rows="4"
                      ng-model="TACandidateForms[fakeData.indexOf(row)].interestExperience" id="interestExperience"
                      class="form-control"></textarea>
          </div> -->

<!--
          <div class="form-group">
            <label class="control-label" for="previousCourseTaken">Previous Courses Taken</label>
            <textarea name="previousCourseTaken" rows="4"
                      ng-model="TACandidateForms[fakeData.indexOf(row)].previousCourseTaken"
                      id="previousCourseTaken" class="form-control"></textarea>
          </div>
 -->
<!--
          <div class="form-group">
            <label class="control-label" for="plannedAbsences">Days/Periods of Planned Work Absences</label>
            <textarea name="plannedAbsences" rows="4" ng-model="TACandidateForms[fakeData.indexOf(row)].plannedAbsences"
                      id="plannedAbsences"
                      class="form-control"></textarea>
          </div> -->

        </div>
        <center style="margin-top: 20px">

        <!-- <div class="form-group col-sm-10" style="padding-top: 20px"> -->
          <button type="submit" class="btn customBlue col-offset-sm-1"><font color = "white"> <span class="glyphicon glyphicon-upload"></span>  {{TACandidateForms[fakeData.indexOf(row)].username
            ? 'Update' : 'Submit'}}
          </font>
          </button>
          <button type="button" class="btn customBlue col-offset-sm-1" ng-click="updateTemporaryForm(fakeData.indexOf(row))">
            <font color = "white">
             <span class="glyphicon glyphicon-repeat"></span>
             Reset form
           </font>
          </button>
          <button ng-show="formBooleans[fakeData.indexOf(row)]" type="button" class="btn customBlue  col-offset-sm-1 "
                  ng-click="toggleForm(fakeData.indexOf(row))">
                  <font color = "white">
                  <span class="glyphicon glyphicon-eye-close"></span>
                  Hide Form
                  </font>
          </button>
          <button ng-hide="formBooleans[fakeData.indexOf(row)]" type="button" class="btn customBlue col-offset-sm-1"
                  ng-click="toggleForm(fakeData.indexOf(row))">
                  <font color = "white">
                  <span class="glyphicon glyphicon-eye-open"></span>
                  Show Form
                </font>
          </button>
          <!--<button type="button" class="btn btn-danger" ng-click="">Reject Student</button>-->
        <!-- </div> -->
      </center>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>

      </fieldset>
    </div>

  </form>

</section>
