<!--<style>-->
  <!--section{-->
    <!--background-color: #2077ad;-->
  <!--}-->
<!--</style>-->

<section ng-controller="TACandidatesController">

  <br>
    <h1>TA Candidates</h1>

    <button type="button" class="btn btn-success pull-right" ng-click="openModal()">Add new student</button>
  </br>

  <!--<div ng-app="advisorhomepages">-->
    <!--<button ui-sref="Modal.confirmAddToCart">stateful</button>-->
    <!--<div ui-view="modal"></div>-->
  <!--</div>-->
  <!--<undergrad></undergrad>-->

    <!-- <button type="button" class="btn btn-success" ng-click="openModal()">Add new student</button> -->
    <!-- <div class="navbar-form" > -->
    <div class="col-md-8 col-md-offset-2">
      <div class="input-group" id="searchBar">
        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
        <input type="text" class="form-control" placeholder="Search" ng-model="searchResult">
      </div>
    </div>

    <!-- <div class="table-headers">
      <table>
        <thead>
          <tr>
            <th class="col-sm-4"><font size="+2">Id</font></th>
            <th class="col-sm-4"><font size="+2">Name</font></th>
            <th class="col-sm-4"><font size="+2">Email</font></th>
            <th class="col-sm-4"><font size="+2">Hours</font></th>
          </tr>
        </thead>
      </table>
    </div> -->

    <div class="table-headers">
            <div style= "float: left; margin-left: 32px; position: relative;">
              <font size="+2"><strong>Id</strong></font>
            </div>
            <div style="float: left; margin-left: 326px; position: relative;">
              <font size="+2"><strong>Name</strong></font>
            </div>
            <div style="float: left; margin-left: 283px; position: relative;">
              <font size="+2"><strong>Email</strong></font>
            </div>
            <div style="float: left; margin-left: 265px; position: relative;">
              <font size="+2"><strong>Hours</strong></font>
            </div>
    </div>


  <accordion close-others="oneAtATime">

    <accordion-group id="hello" ng-repeat="row in fakeData | filter: searchResult" is-open="status.open" >
      <accordion-heading>
        <table ng-click="populateTACandidatesForm(fakeData.indexOf(row))">
          <!-- <thead>
          <tr>
            <th class="col-xs-3">UF ID</th>
            <th class="col-xs-5">Name</th>
            <th class="col-xs-4"> Email</th>
            <th class="col-xs-1"> Hours</th>
          </tr>
          </thead> -->
          <tbody>
            <tr>
              <td class="col-md-4">{{row.ufid}}</td>
              <td class="col-md-4">{{row.firstName}} {{row.lastName}}</td>
              <td class="col-md-4">{{row.email}}</td>
              <!--<td class="col-md-2">{{row.hourTA}}</td>-->
              <td ng-click="$event.stopPropagation(); $event.preventDefault(); populateTACandidatesForm(fakeData.indexOf(row))" class="col-md-2"><input type="text" ng-model="hoursArray[fakeData.indexOf(row)]" style="width:24px; text-align:right; color:black"></td>
              <td><button type="button" class="btn btn-success" ng-click="$event.stopPropagation(); $event.preventDefault(); clickUpdateHour(fakeData.indexOf(row))">Update Hours</button></td>
            </tr>
          </tbody>

        </table>
      </accordion-heading>
      <!--TODO: change this-->
      <div ng-include="'modules/advisorhomepages/client/views/advisorForm.html'"></div>

    </accordion-group>
  </accordion>

</section>
