<head>
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet" type="text/css"></link>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css"></link>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"></link>
  <link href="modules/forms/client/css/undergrad-form.css" rel="stylesheet"></link>
</head>

<section ng-controller="TACandidatesController">

  <br>
    <h1 style="font-family:'ubuntu'">TA Candidates</h1>

  </br>

    <ul class="nav nav-pills">
      <li><a ui-sref="ta-coordinators.status"  ng-if="authentication.user.roles[0] === 'tacoordinator'">Status</a></li>
      <li><a ui-sref="advisorhomepages.list">TA Candidates</a></li>
      <li><a ui-sref="ta-coordinators.courselist">Course List</a></li>
      <li><a ui-sref="ta-coordinators.facultyCourseList"  ng-if="authentication.user.roles[0] === 'tacoordinator'">TA Recommendations</a></li>
      <li><a ui-sref="ta-coordinators.tacoordinatorCourseList"  class="bg-info text-white"  ng-if="authentication.user.roles[0] === 'tacoordinator'">Assignments</a></li>
    </ul>
  <!--<div ng-app="advisorhomepages">-->
    <!--<button ui-sref="Modal.confirmAddToCart">stateful</button>-->
    <!--<div ui-view="modal"></div>-->
  <!--</div>-->
  <!--<undergrad></undergrad>-->

    <!-- <button type="button" class="btn btn-success" ng-click="openModal()">Add new student</button> -->
    <!-- <div class="navbar-form" > -->

    <div class="col-sm-8 col-sm-offset-1">
      <div class="input-group" id="searchBar">
        <span class="input-group-addon" id="sizing-addon1">
          <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text" class="form-control" placeholder="Search" ng-model="searchResult">
      </div>
    </div>
    <button type="button" class="btn customOrange col-sm-2" ng-click="openModal()"  ng-if="authentication.user.roles[0] === 'advisor'" style="margin-bottom:20px">Add new student</button>


    <br>
    <div class="table-headers">
      <table>
        <thead>
          <tr>
            <th class="col-sm-4 headings"><font size="+2">UFID</font></th>
            <th class="col-sm-4 headings"><font size="+2">Name</font></th>
            <th class="col-sm-4 headings"><font size="+2">Email</font></th>
            <th class="col-sm-4 headings"><font size="+2">Hours</font></th>
          </tr>
        </thead>
      </table>
    </div>


  <accordion close-others="oneAtATime">

    <accordion-group id="hello" ng-repeat="row in fakeData | filter: searchResult" is-open="status.open" >
      <accordion-heading>
        <table ng-click="populateTACandidatesForm(fakeData.indexOf(row))">

          <tbody>
            <tr class="tableClass">
              <td class="col-md-4">{{row.ufid}}</td>
              <td class="col-md-4">{{row.firstName}} {{row.lastName}}</td>
              <td class="col-md-4">{{row.email}}</td>
              <td ng-click="$event.stopPropagation(); $event.preventDefault(); populateTACandidatesForm(fakeData.indexOf(row))" class="col-md-2"><input type="text" ng-model="hoursArray[fakeData.indexOf(row)]" style="width:40px; text-align:right; color:black; border:1px solid #ccc; border-radius:3px;"></td>
              <td><button type="button" class="btn customOrange" ng-click="$event.stopPropagation(); $event.preventDefault(); clickUpdateHour(fakeData.indexOf(row))">Update Hours</button></td>
            </tr>
          </tbody>

        </table>
      </accordion-heading>
      <!--TODO: change this-->
      <div ng-include="'modules/advisorhomepages/client/views/advisorForm.html'"></div>

    </accordion-group>
  </accordion>

</section>
