<section>
  <div class="page-header">
    <h1>Facultyhomepages</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="facultyhomepage in vm.facultyhomepages"
       ui-sref="facultyhomepages.view({ facultyhomepageId: facultyhomepage._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="facultyhomepage.created | date:'mediumDate'"></span>
        by
        <span ng-if="facultyhomepage.user" ng-bind="facultyhomepage.user.displayName"></span>
        <span ng-if="!facultyhomepage.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="facultyhomepage.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.facultyhomepages.$resolved && !vm.facultyhomepages.length">
    No Facultyhomepages yet, why don't you <a ui-sref="facultyhomepages.create">create one</a>?
  </div>
</section>
