<section ng-controller="PolicyController">
	<!-- <div> <center> -->
	<div class="policyStyle">

		<h1>CISE TA Policy</h1>
		<div>
  			<h2>TA Eligibility</h2>
  			<p>You must read the <a href="https://www.cise.ufl.edu/academics/grad/ta/taas/TA_policy.pdf">TA Eligibility</a> document before continuing</p>
  			<h2>TA Assignment Policy</h2>
  			<p>Appointed TAs are assigned to courses, positions in the tutoring center, and to consultant and other positions taking into account course<br> enrollment, student and faculty preferences and TSE scores.</p>
		</div><br>
		<p style="font-weight:bold">I declare that I have read, understand and agree to the "TA Eligibility and Assignments Policy:"</p>
		<button class="btn btn-success" ui-sref="forms.undergrad">Agree</button>
	<!-- </center> -->
	</div>
</section>
