<section>
  <div class="page-header">
    <h1>Course List</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.taCoordinator" class="form-horizontal" ng-submit="vm.save(vm.form.taCoordinator.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.taCoordinator.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.taCoordinator.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">taCoordinator name is required.</p>
          </div>
        </div>


        <div class="form-group">
          <label class="control-label" for="preferencecourse1">Preference Course</label>
          <select name="preferencecourse1" id="preferencecourse1"
                  class="form-control"
                  ng-model="vm.form.preferencecourse1">

            <option ng-repeat="course in vm.courses"
                    ng-selected="course._id === vm.form.preferencecourse1"
                    value="{{course._id}}">{{course.courseId+" - "+course.courseTitle}}
            </option>
          </select>
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.taCoordinator._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
