<head>
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet" type="text/css"></link>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css"></link>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"></link>
</head>

<section>
  <div class="page-header" style="font-family:'ubuntu'">
    <h1>Course List  -  {{vm.semester}}</h1>
  </div>
    <div class="row headings">
      <!-- Add a ui-sref property to the anchor tags to allow navigation between different states -->
      <ul class="nav nav-pills">
        <li><a ui-sref="ta-coordinators.status" ng-if="authentication.user.roles[0] === 'tacoordinator'">Status</a></li>
        <li><a ui-sref="advisorhomepages.list">TA Candidates</a></li>
        <li><a ui-sref="ta-coordinators.courselist" class="bg-info text-white">Course List</a></li>
        <li><a ui-sref="ta-coordinators.facultyCourseList" ng-if="authentication.user.roles[0] === 'tacoordinator'">TA Recommendations</a></li>
        <li><a ui-sref="ta-coordinators.tacoordinatorCourseList" ng-if="authentication.user.roles[0] === 'tacoordinator'">Assignments</a></li>
      </ul>
    </div>
  <br>
  <div class="row headings">
    <div class="col-md-2"><font size="+1"><strong>Course Number</strong></font></div>
    <div class="col-md-4"><font size="+1"><strong>Course Name</strong></font></div>
    <div class="col-md-4"><font size="+1"><strong>Instructor</strong></font></div>
    <div class="col-md-2"><font size="+1"><strong>Number of Sections</strong></font></div>
  </div>

  <accordion close-others="oneAtATime" class="tableClass">

    <accordion-group ng-repeat="course in coursesData" is-open="status.open">
      <accordion-heading>

        <div class="row">
          <div class="col-md-2">{{course.courseId}}</div>
          <div class="col-md-4">{{course.courseTitle}}</div>
          <div class="col-md-4">{{course.instructor}}</div>
          <div class="col-md-2">{{course.numberOfSection}}</div>
        </div>
      </accordion-heading>

      <!--TODO: change this-->
      <div class="container row">
        <!--<div class="container row" ng-controller="" ng-init="findOne()">-->
        <div class="col-md-offset-1 col-md-10 formWrapper">
          <div class="page-header">
            <h3>Course Info</h3>

            <form name="Course Info" class="form-horizontal" ng-submit="updatingCourse(course)">
              <fieldset>
                <div class="form-group" show-errors>
                  <label for="drop_add">Enrollment end of Drop/Add:</label>
                  <input name="drop_add" type="number" ng-model="course.enrollmentAddDrop" id="drop_add" class="form-control">
                </div>

                <div class="form-group" show-errors>
                  <label for="endsemester">Enrollment end of semester:</label>
                  <input name="endsemester" type="number" ng-model="course.enrollmentSemester" id="endsemester" class="form-control">
                </div>

                <div class="form-group">
                  <label for="tahour">TA hours for course:</label>
                  <input name="tahour" type="number" ng-model="course.taHours" id="tahour" class="form-control">
                </div>

                <div class="form-group">
                  <input type="submit" class="btn customOrange">
                </div>
               </fieldset>
            </form>

        </div>
        </div>
      </div>

    </accordion-group>


    <!--</accordion-group>-->
  </accordion>



</section>
