<section>

    <ul class="nav nav-pills" ng-if="authentication.user.roles[0] === 'tacoordinator'">
      <li><a ui-sref="ta-coordinators.status">Status</a></li>
      <li><a ui-sref="advisorhomepages.list">TA Candidates</a></li>
      <li><a ui-sref="ta-coordinators.courselist">Course List</a></li>
      <li><a ui-sref="ta-coordinators.facultyCourseList">TA Recommendations</a></li>
      <li><a ui-sref="ta-coordinators.tacoordinatorCourseList"  class="bg-info text-white">Assignments</a></li>
    </ul>

  <button ng-repeat="course in courses " class ="btn btn-default btn-block" ng-click="recommend(course.courseTitle,course._id)">

      {{course.courseId}}

      {{course.courseTitle}}

      {{course.numberOfSection}}

    </button>

</section>
