<head>
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet" type="text/css"></link>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css"></link>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"></link>
</head>

<section>
  <div class="page-header" style="font-family:'ubuntu'">
    <h1>Course List</h1>
  </div>

<div class="center-align">
<div class="row headings">
  <div class="col-md-3"><font size="+1"><strong>Course Number</strong></font></div>
  <div class="col-md-3"><font size="+1"><strong>Course Name</strong></font></div>
  <div class="col-md-4"><font size="+1"><strong>Number of Sections</strong></font></div>
</div>
</div>

  <button ng-repeat="course in courses " class ="btn btn-block" ng-click="recommend(course.courseTitle,course._id)" style="background-color: white">

  <div class="center-align">
    <div class="row">
      <div class="col-md-2">{{course.courseId}}</div>
      <div class="col-md-4">{{course.courseTitle}}</div>
      <div class="col-md-2">{{course.numberOfSection}}</div>
    </div>
  </div>

  </button>

</section>
