<section>
  <div class="page-header">
    <h1>Status</h1>
  </div>

  <dialog open>
  <div class="radio">
    <b>Undergraduate Access to Apply:</b>
    <label><input type="radio" name="UndergraduateAccess">yes</label>
    <label class="radio-inline"><input type="radio" name="UndergraduateAccess">no</label>
  </div>
  <div class="radio">
    <b>Graduate Access to Apply:</b>
    <label><input type="radio" name="GraduateAccess">yes</label>
    <label class="radio-inline"><input type="radio" name="GraduateAccess">no</label>  </div>
  <div class="radio">
    <b>Faculty Access to Recommend:</b>
    <label><input type="radio" name="FacultyAccessToRecommend">yes</label>
    <label class="radio-inline"><input type="radio" name="FacultyAccessToRecommend">no</label>
  </div>
  <div class="radio">
    <b>Display GPA, TSE etc. for student review:</b>
    <label><input type="radio" name="displaygpa">yes</label>
    <label class="radio-inline"><input type="radio" name="displaygpa">no</label>
  </div>
  <div class="radio">
    <b>Display Final TA Assignments for Students:</b>
    <label><input type="radio" name="displayfinalstudents">yes</label>
    <label class="radio-inline"><input type="radio" name="displayfinalstudents">no</label>
  </div>
  <div class="radio">
    <b>Display Final TA Assignments for Faculty:</b>
    <label><input type="radio" name="displayfinalfaculty">yes</label>
    <label class="radio-inline"><input type="radio" name="displayfinalfaculty">no</label>
  </div>
  <div class="radio">
    <b>Update Semester:</b>
    <select id="semester"
        name="semester" />
        <option>Fall 2017</option>
        <option>Spring 2017</option>
    </select>
</dialog>
<dialog open>
  <div>
    <b>Reset Applicant Status</b>

  </div>
</dialog>
<!--
  <div class="list-group">
    <a ng-repeat="ta-coordinator in vm.taCoordinators"
       ui-sref="taCoordinators.view({ ta-coordinatorId: ta-coordinator._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="taCoordinator.created | date:'mediumDate'"></span>
        by
        <span ng-if="taCoordinator.user" ng-bind="taCoordinator.user.displayName"></span>
        <span ng-if="!taCoordinator.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="ta-coordinator.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.taCoordinators.$resolved && !vm.taCoordinators.length">
    No Ta coordinators yet, why don't you <a ui-sref="taCoordinators.create">create one</a>?
  </div>
-->
</section>
