<section>
  <div class="page-header">
    <h1>Status</h1>
  </div>
  <dialog open>
  <div class="radio">
    <b>Undergraduate Access:</b>
    <label><input type="radio" name="UndergraduateAccess">yes</label>
    <label class="radio-inline"><input type="radio" name="UndergraduateAccess">no</label>
  </div>
  <div class="radio">
    <b>Graduate Access:</b>
    <label><input type="radio" name="GraduateAccess">yes</label>
    <label class="radio-inline"><input type="radio" name="GraduateAccess">no</label>  </div>
  <div class="radio">
    <b>Faculty Access to Recommend:</b>
    <label><input type="radio" name="FacultyAccessToRecommend">yes</label>
    <label class="radio-inline"><input type="radio" name="FacultyAccessToRecommend">no</label>
  </div>
</dialog>
<!--
  <div class="list-group">
    <a ng-repeat="ta-coordinator in vm.taCoordinators"
       ui-sref="taCoordinators.view({ ta-coordinatorId: ta-coordinator._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="taCoordinator.created | date:'mediumDate'"></span>
        by
        <span ng-if="taCoordinator.user" ng-bind="taCoordinator.user.displayName"></span>
        <span ng-if="!taCoordinator.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="ta-coordinator.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.taCoordinators.$resolved && !vm.taCoordinators.length">
    No Ta coordinators yet, why don't you <a ui-sref="taCoordinators.create">create one</a>?
  </div>
-->
</section>
