<section>
  <div class="page-header">
    <h1>Assignmentrecommendations</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="assignmentrecommendation in vm.assignmentrecommendations"
       ui-sref="assignmentrecommendations.view({ assignmentrecommendationId: assignmentrecommendation._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="assignmentrecommendation.created | date:'mediumDate'"></span>
        by
        <span ng-if="assignmentrecommendation.user" ng-bind="assignmentrecommendation.user.displayName"></span>
        <span ng-if="!assignmentrecommendation.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="assignmentrecommendation.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.assignmentrecommendations.$resolved && !vm.assignmentrecommendations.length">
    No Assignmentrecommendations yet, why don't you <a ui-sref="assignmentrecommendations.create">create one</a>?
  </div>
</section>
