.table-headers{
  display: inline;
  padding-top: 30px;
  padding-bottom: 5px;
  table-layout: fixed;
}

.floating-box {
    display: inline-block;
    width: 300px;
    height: 75px;
    margin: 33px;
}

.btn-ta {
    background-color: orange;
    font-family: "ubuntu";
}

.headings {
    font-family:"questrial";
}

.tableClass{
    font-family: "ubuntu";
    color: black;
}
/*.panel-default {*/
    /*background-image: -webkit-linear-gradient(top, #ea0423 0%, #d1364b 100%);*/
    /*background-image:      -o-linear-gradient(top, #ea0423 0%, #d1364b 100%);*/
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#ea0423), to(#d1364b));*/
    /*background-image:         linear-gradient(to bottom, #ea0423 0%, #d1364b 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);*/
    /*background-repeat: repeat-x;*/
/*}*/


.panel > .panel-heading{
    background-image: -webkit-linear-gradient(top, #ffffff 0%, blue 100%);
    background-image:      -o-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background-image:         linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}

.panel > .customPanel{
    background-image: -webkit-linear-gradient(top, #f47741 0%, #f4a641 100%);
    background-image:      -o-linear-gradient(top, #f47741 0%, #f4a641 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f47741), to(#f4a641));
    background-image:         linear-gradient(to bottom, #f47741 0%, #f4a641 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}

.customOrange{
  background-color: orange;
  background: -webkit-linear-gradient(#f47741, #f4a641); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(#f47741, #f4a641); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(#f47741, #f4a641); /* For Firefox 3.6 to 15 */
   background: linear-gradient(#f47741, #f4a641); /* Standard syntax (must be last) */
}

.customBlue{
  background: white;
  background-color: blue;
  background: -webkit-linear-gradient(#2d37a8, #3b43a0); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(#2d37a8, #3b43a0); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(#2d37a8, #3b43a0); /* For Firefox 3.6 to 15 */
   background: linear-gradient(#2d37a8, #3b43a0); /* Standard syntax (must be last) */

}



/*.panel-heading{*/
    /*background-image: -webkit-linear-gradient(top, #ea0423 0%, #d1364b 100%);*/
    /*background-image:      -o-linear-gradient(top, #ea0423 0%, #d1364b 100%);*/
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#ea0423), to(#d1364b));*/
    /*background-image:         linear-gradient(to bottom, #ea0423 0%, #d1364b 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);*/
    /*background-repeat: repeat-x;*/
/*}*/
